In [4]:
%load_ext autoreload
%autoreload 2

from hossam.util import *
from hossam.plot import *
from hossam.tensor import *
from pandas import read_excel, pivot_table, melt, to_datetime
from collections import defaultdict
from sklearn.linear_model import LinearRegression
from scipy.stats import linregress

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
df = read_excel("통합6.xlsx")
df

,회원카드번호,연월,미수액,FC 강사,등록명,일일입장,분실,부가서비스사용,레슨여부,매출액,...,일일입장매출,양도비매출,필라테스매출,환불사용금매출,의류매출,분실매출,GX매출,상환액매출,입회비매출,예치금매출
0,12131325,2020-09,0,홍진석,헬스,0,0,0,0,899000,...,0,0,0,0,0,0,0,0,0,0
1,13110008,2021-05,0,신지연,골프,0,0,2,0,1700000,...,0,0,0,0,0,0,0,0,0,0
2,13110008,2021-06,0,신지연,NaN,0,0,0,1,200000,...,0,0,0,0,0,0,0,0,0,0
3,13110008,2022-06,0,신지연,골프,0,0,2,0,1700000,...,0,0,0,0,0,0,0,0,0,0
4,13110008,2023-08,0,신지연,NaN,0,0,1,0,220000,...,0,0,0,0,220000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,23120077,2023-12,0,NaN,헬스,0,0,0,0,990000,...,0,0,0,0,0,0,0,0,0,0
10026,24010001,2023-12,0,NaN,헬스,0,0,0,0,990000,...,0,0,0,0,0,0,0,0,0,0
10027,24010002,2023-12,0,NaN,NaN,0,0,0,0,990000,...,0,0,0,0,0,0,0,990000,0,0
10028,24010003,2022-01,0,NaN,헬스,0,0,1,0,1035000,...,0,0,0,0,0,0,0,0,0,0
10029,88017624,2023-02,0,NaN,골프,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df1 = df.drop(["미수액","FC 강사","일일입장","분실","부가서비스사용","레슨여부","매출액","일일입장매출","양도비매출","필라테스매출","환불사용금매출","의류매출","분실매출","GX매출","상환액매출","입회비매출","예치금매출","골프전환","단체회원","프로모션","단체명","패스","골프매출","라카매출","헬스매출","PT매출","골프레슨매출"], axis=1)
df1

         회원카드번호       연월  등록명  개월수
0      12131325  2020-09   헬스   12
1      13110008  2021-05   골프   12
2      13110008  2021-06  NaN    0
3      13110008  2022-06   골프   12
4      13110008  2023-08  NaN    0
...         ...      ...  ...  ...
10025  23120077  2023-12   헬스   10
10026  24010001  2023-12   헬스   10
10027  24010002  2023-12  NaN    0
10028  24010003  2022-01   헬스   10
10029  88017624  2023-02   골프    3

[10030 rows x 4 columns]

In [4]:
# 등록명이 '헬스' 또는 '골프'인 행들만 선택
df2 = df1[df1['등록명'].isin(['헬스', '골프'])]

print(df2)

         회원카드번호       연월 등록명  개월수
0      12131325  2020-09  헬스   12
1      13110008  2021-05  골프   12
3      13110008  2022-06  골프   12
5      13110008  2023-11  골프   12
6      13110009  2020-10  헬스   12
...         ...      ...  ..  ...
10024  23120076  2023-12  헬스   10
10025  23120077  2023-12  헬스   10
10026  24010001  2023-12  헬스   10
10028  24010003  2022-01  헬스   10
10029  88017624  2023-02  골프    3

[6306 rows x 4 columns]

In [5]:
merge1 = read_excel('카드번호출석.xlsx')
merge1

,회원카드번호,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,...,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
0,20010013,10.0,4.0,NaN,6.0,2.0,6.0,2,7.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14120047,8.0,4.0,5.0,11.0,13.0,10.0,10,8.0,7.0,...,16.0,9.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,14060030,4.0,6.0,2.0,NaN,7.0,5.0,2,2.0,NaN,...,5.0,4.0,1.0,NaN,3.0,10.0,1.0,NaN,NaN,NaN
3,15120030,13.0,14.0,NaN,3.0,23.0,25.0,25,18.0,2.0,...,7.0,5.0,11.0,7.0,4.0,NaN,2.0,4.0,NaN,NaN
4,19050015,15.0,2.0,2.0,NaN,7.0,12.0,8,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,14010231,4.0,1.0,3.0,NaN,4.0,5.0,7,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,3.0,2.0,3.0,4.0,5.0
1014,14080034,5.0,8.0,2.0,4.0,10.0,3.0,5,1.0,1.0,...,NaN,6.0,5.0,4.0,6.0,7.0,2.0,5.0,3.0,3.0
1015,18030022,10.0,7.0,1.0,2.0,13.0,2.0,7,7.0,4.0,...,18.0,4.0,14.0,9.0,7.0,2.0,8.0,7.0,11.0,12.0
1016,15010006,20.0,20.0,16.0,17.0,19.0,21.0,15,17.0,12.0,...,18.0,16.0,23.0,15.0,4.0,NaN,12.0,14.0,17.0,15.0
1017,16050045,22.0,20.0,15.0,15.0,24.0,21.0,23,17.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df3 = pd.merge(df1, merge1, on='회원카드번호', how='inner')
df3

,회원카드번호,연월,등록명,개월수,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,...,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
0,12131325,2020-09,헬스,12,15.0,14.0,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13110008,2021-05,골프,12,19.0,20.0,14.0,14.0,14.0,19.0,...,17.0,17.0,16.0,19.0,21.0,20.0,13.0,16.0,15.0,19.0
2,13110008,2021-06,NaN,0,19.0,20.0,14.0,14.0,14.0,19.0,...,17.0,17.0,16.0,19.0,21.0,20.0,13.0,16.0,15.0,19.0
3,13110008,2022-06,골프,12,19.0,20.0,14.0,14.0,14.0,19.0,...,17.0,17.0,16.0,19.0,21.0,20.0,13.0,16.0,15.0,19.0
4,13110008,2023-08,NaN,0,19.0,20.0,14.0,14.0,14.0,19.0,...,17.0,17.0,16.0,19.0,21.0,20.0,13.0,16.0,15.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3743,20070073,2021-03,골프,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3744,20070073,2021-12,헬스,9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3745,20070073,2022-03,골프,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3746,20070073,2023-06,헬스,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3747,20070073,2023-09,헬스,-12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 데이터프레임 df3
df = df3

# '연월' 열을 기준으로 오름차순 정렬
df = df.sort_values(by='연월')

# 반복문을 사용하여 각 행에 대해 처리
새로운_데이터프레임들 = []

for index, row in df.iterrows():
    연월 = row['연월']
    개월수 = row['개월수']
    시작열 = df.columns.get_loc(연월)
    끝열 = df.columns.get_loc(연월) + 개월수  # 끝 열 인덱스 수정
    남길열 = df.columns[시작열:끝열]
    
    # NaN 값을 0으로 대체
    row[남길열] = row[남길열].fillna(0)
    
    새로운_df = pd.DataFrame(row).transpose()[['회원카드번호', '연월', '등록명', '개월수'] + list(남길열)]
    새로운_데이터프레임들.append(새로운_df)

# 결과를 하나의 데이터프레임으로 합치기
결과_df = pd.concat(새로운_데이터프레임들, ignore_index=True)

print(결과_df)

        회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
0     17030054  2020-01  NaN   0     NaN     NaN     NaN     NaN     NaN
1     14060030  2020-01   헬스  12     4.0     6.0     2.0     0.0     7.0
2     15030037  2020-01   골프  12     7.0    10.0     9.0     4.0    12.0
3     19070039  2020-01  NaN   0     NaN     NaN     NaN     NaN     NaN
4     19100068  2020-01  NaN   0     NaN     NaN     NaN     NaN     NaN
...        ...      ...  ...  ..     ...     ...     ...     ...     ...
3743  17020088  2023-12  NaN   0     NaN     NaN     NaN     NaN     NaN
3744  14070134  2023-12   헬스  10     NaN     NaN     NaN     NaN     NaN
3745  18030038  2023-12   헬스  12     NaN     NaN     NaN     NaN     NaN
3746  13110114  2023-12   헬스  12     NaN     NaN     NaN     NaN     NaN
3747  15060067  2023-12   헬스  12     NaN     NaN     NaN     NaN     NaN

     2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
0        NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1        5.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2       12.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3        NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4        NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
3743     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3744     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3745     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3746     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3747     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

     2023-10 2023-11 2023-12
0        NaN     NaN     NaN
1        NaN     NaN     NaN
2        NaN     NaN     NaN
3        NaN     NaN     NaN
4        NaN     NaN     NaN
...      ...     ...     ...
3743     NaN     NaN     NaN
3744     NaN     NaN     2.0
3745     NaN     NaN    13.0
3746     NaN     NaN    15.0
3747     NaN     NaN     3.0

[3748 rows x 52 columns]

In [8]:
# 데이터프레임 df3
df = 결과_df

# '연월' 열을 기준으로 오름차순 정렬
df = df.sort_values(by='연월')

# 각 연월별로 데이터를 담을 딕셔너리
연월별_데이터 = {}

# 반복문을 사용하여 각 연월별로 데이터를 나누어 딕셔너리에 저장
for 연월, 그룹 in df.groupby('연월'):
    연월별_데이터[연월] = 그룹

# 각 연월별 데이터 출력
for 연월, 데이터 in 연월별_데이터.items():
    print(f"{연월}:")
    print(데이터)

2020-01:
       회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
0    17030054  2020-01  NaN   0     NaN     NaN     NaN     NaN     NaN
131  20010025  2020-01  NaN   0     NaN     NaN     NaN     NaN     NaN
132  13110097  2020-01   헬스  12    15.0    19.0     2.0     0.0    15.0
133  18050033  2020-01  NaN   0     NaN     NaN     NaN     NaN     NaN
134  15070020  2020-01  NaN   0     NaN     NaN     NaN     NaN     NaN
..        ...      ...  ...  ..     ...     ...     ...     ...     ...
71   19010007  2020-01   헬스  12     9.0    14.0    13.0    10.0    12.0
72   20010078  2020-01   헬스  12     1.0    14.0    14.0     5.0    12.0
74   19010076  2020-01   골프  12     4.0    14.0     6.0    12.0     9.0
73   18080017  2020-01   헬스  12    22.0    20.0     9.0     0.0    18.0
64   18010137  2020-01   헬스  12     8.0     5.0     0.0     1.0     0.0

    2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
0       NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
131     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
132    18.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
133     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
134     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
71     13.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
72     10.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
74      8.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
73     19.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
64      0.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    2023-10 2023-11 2023-12
0       NaN     NaN     NaN
131     NaN     NaN     NaN
132     NaN     NaN     NaN
133     NaN     NaN     NaN
134     NaN     NaN     NaN
..      ...     ...     ...
71      NaN     NaN     NaN
72      NaN     NaN     NaN
74      NaN     NaN     NaN
73      NaN     NaN     NaN
64      NaN     NaN     NaN

[206 rows x 52 columns]
2020-02:
       회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
338  17110065  2020-02   헬스  10     NaN     8.0     0.0     0.0     0.0
337  14020084  2020-02   헬스  12     NaN    18.0    14.0     7.0    17.0
336  15020034  2020-02   헬스  12     NaN    15.0    16.0     9.0    26.0
332  19100029  2020-02  NaN   0     NaN     NaN     NaN     NaN     NaN
334  13110114  2020-02  NaN   0     NaN     NaN     NaN     NaN     NaN
..        ...      ...  ...  ..     ...     ...     ...     ...     ...
275  15040003  2020-02  NaN   0     NaN     NaN     NaN     NaN     NaN
271  20020004  2020-02   헬스  10     NaN    12.0     9.0     0.0     2.0
270  20020008  2020-02   헬스   5     NaN     7.0     0.0     0.0     5.0
269  19100004  2020-02  NaN   0     NaN     NaN     NaN     NaN     NaN
272  13120251  2020-02   헬스  12     NaN    14.0    12.0    15.0    15.0

    2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
338     0.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
337    17.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
336    23.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
332     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
334     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
275     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
271     4.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
270     9.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
269     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
272    20.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    2023-10 2023-11 2023-12
338     NaN     NaN     NaN
337     NaN     NaN     NaN
336     NaN     NaN     NaN
332     NaN     NaN     NaN
334     NaN     NaN     NaN
..      ...     ...     ...
275     NaN     NaN     NaN
271     NaN     NaN     NaN
270     NaN     NaN     NaN
269     NaN     NaN     NaN
272     NaN     NaN     NaN

[196 rows x 52 columns]
2020-03:
       회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
467  13120118  2020-03   헬스  12     NaN     NaN     4.0    19.0    28.0
466  16030007  2020-03  NaN   0     NaN     NaN     NaN     NaN     NaN
465  18020038  2020-03  NaN   0     NaN     NaN     NaN     NaN     NaN
464  19030007  2020-03  NaN   0     NaN     NaN     NaN     NaN     NaN
463  19050040  2020-03   헬스  12     NaN     NaN     0.0     0.0     2.0
..        ...      ...  ...  ..     ...     ...     ...     ...     ...
428  20030019  2020-03   헬스  12     NaN     NaN     5.0    14.0    19.0
431  19110063  2020-03  NaN   0     NaN     NaN     NaN     NaN     NaN
432  13120284  2020-03   골프  12     NaN     NaN    13.0    13.0    18.0
433  17020020  2020-03   헬스  12     NaN     NaN    17.0    20.0    18.0
426  18040011  2020-03  NaN   0     NaN     NaN     NaN     NaN     NaN

    2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
467    26.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
466     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
465     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
464     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
463    10.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
428    22.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
431     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
432    19.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
433    12.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
426     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    2023-10 2023-11 2023-12
467     NaN     NaN     NaN
466     NaN     NaN     NaN
465     NaN     NaN     NaN
464     NaN     NaN     NaN
463     NaN     NaN     NaN
..      ...     ...     ...
428     NaN     NaN     NaN
431     NaN     NaN     NaN
432     NaN     NaN     NaN
433     NaN     NaN     NaN
426     NaN     NaN     NaN

[89 rows x 52 columns]
2020-04:
       회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
584  20040005  2020-04   골프  12     NaN     NaN     NaN    12.0    21.0
589  13120352  2020-04   골프  12     NaN     NaN     NaN     7.0    19.0
585  15070020  2020-04   헬스  12     NaN     NaN     NaN    14.0    16.0
586  19100008  2020-04  NaN   0     NaN     NaN     NaN     NaN     NaN
587  18100017  2020-04   헬스  12     NaN     NaN     NaN    15.0    17.0
..        ...      ...  ...  ..     ...     ...     ...     ...     ...
539  17110069  2020-04  NaN   0     NaN     NaN     NaN     NaN     NaN
540  17010082  2020-04   헬스  12     NaN     NaN     NaN     0.0    16.0
541  13120014  2020-04   헬스  12     NaN     NaN     NaN     7.0    12.0
542  19040036  2020-04   헬스  12     NaN     NaN     NaN     8.0     8.0
537  14020181  2020-04  NaN   0     NaN     NaN     NaN     NaN     NaN

    2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
584    18.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
589    18.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
585    18.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
586     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
587    17.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
539     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
540    19.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
541    23.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
542     2.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
537     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    2023-10 2023-11 2023-12
584     NaN     NaN     NaN
589     NaN     NaN     NaN
585     NaN     NaN     NaN
586     NaN     NaN     NaN
587     NaN     NaN     NaN
..      ...     ...     ...
539     NaN     NaN     NaN
540     NaN     NaN     NaN
541     NaN     NaN     NaN
542     NaN     NaN     NaN
537     NaN     NaN     NaN

[143 rows x 52 columns]
2020-05:
       회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
737  18070075  2020-05  NaN   0     NaN     NaN     NaN     NaN     NaN
742  19110002  2020-05  NaN   0     NaN     NaN     NaN     NaN     NaN
738  20050008  2020-05   헬스  10     NaN     NaN     NaN     NaN    13.0
739  20050009  2020-05   골프  12     NaN     NaN     NaN     NaN    10.0
736  20050043  2020-05   헬스   3     NaN     NaN     NaN     NaN     2.0
..        ...      ...  ...  ..     ...     ...     ...     ...     ...
691  20020020  2020-05   골프  12     NaN     NaN     NaN     NaN     5.0
687  15060025  2020-05   골프  14     NaN     NaN     NaN     NaN     4.0
688  17070067  2020-05   헬스   3     NaN     NaN     NaN     NaN     5.0
689  18100053  2020-05   헬스   1     NaN     NaN     NaN     NaN     5.0
690  18100056  2020-05  NaN   0     NaN     NaN     NaN     NaN     NaN

    2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
737     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
742     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
738    16.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
739    13.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
736    10.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
691    11.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
687     5.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
688     7.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
689     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
690     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    2023-10 2023-11 2023-12
737     NaN     NaN     NaN
742     NaN     NaN     NaN
738     NaN     NaN     NaN
739     NaN     NaN     NaN
736     NaN     NaN     NaN
..      ...     ...     ...
691     NaN     NaN     NaN
687     NaN     NaN     NaN
688     NaN     NaN     NaN
689     NaN     NaN     NaN
690     NaN     NaN     NaN

[159 rows x 52 columns]
2020-06:
       회원카드번호       연월   등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
921  20060002  2020-06    헬스  12     NaN     NaN     NaN     NaN     NaN
920  20060001  2020-06    골프  10     NaN     NaN     NaN     NaN     NaN
919  20050028  2020-06  헬스골프   0     NaN     NaN     NaN     NaN     NaN
917  20050027  2020-06    헬스  12     NaN     NaN     NaN     NaN     NaN
918  19090006  2020-06   NaN   0     NaN     NaN     NaN     NaN     NaN
..        ...      ...   ...  ..     ...     ...     ...     ...     ...
858  19090033  2020-06   NaN   0     NaN     NaN     NaN     NaN     NaN
859  20050007  2020-06   NaN   0     NaN     NaN     NaN     NaN     NaN
860  20060006  2020-06    헬스   3     NaN     NaN     NaN     NaN     NaN
861  20060048  2020-06    헬스  10     NaN     NaN     NaN     NaN     NaN
862  13120191  2020-06    헬스  12     NaN     NaN     NaN     NaN     NaN

    2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
921     7.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
920    11.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
919     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
917     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
918     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
858     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
859     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
860     8.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
861     0.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
862    18.0  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    2023-10 2023-11 2023-12
921     NaN     NaN     NaN
920     NaN     NaN     NaN
919     NaN     NaN     NaN
917     NaN     NaN     NaN
918     NaN     NaN     NaN
..      ...     ...     ...
858     NaN     NaN     NaN
859     NaN     NaN     NaN
860     NaN     NaN     NaN
861     NaN     NaN     NaN
862     NaN     NaN     NaN

[191 rows x 52 columns]
2020-07:
        회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
1123  18080019  2020-07   헬스   1     NaN     NaN     NaN     NaN     NaN
1124  13120374  2020-07   골프  12     NaN     NaN     NaN     NaN     NaN
1125  19080065  2020-07  NaN   0     NaN     NaN     NaN     NaN     NaN
1122  20050023  2020-07  NaN   0     NaN     NaN     NaN     NaN     NaN
1139  19100021  2020-07  NaN   0     NaN     NaN     NaN     NaN     NaN
...        ...      ...  ...  ..     ...     ...     ...     ...     ...
1054  20070054  2020-07   헬스  10     NaN     NaN     NaN     NaN     NaN
1055  20010004  2020-07  NaN   0     NaN     NaN     NaN     NaN     NaN
1058  13120012  2020-07   헬스  12     NaN     NaN     NaN     NaN     NaN
1057  19120036  2020-07   헬스   1     NaN     NaN     NaN     NaN     NaN
1056  20070060  2020-07   헬스  12     NaN     NaN     NaN     NaN     NaN

     2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
1123     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1124     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1125     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1122     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1139     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
1054     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1055     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1058     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1057     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1056     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

     2023-10 2023-11 2023-12
1123     NaN     NaN     NaN
1124     NaN     NaN     NaN
1125     NaN     NaN     NaN
1122     NaN     NaN     NaN
1139     NaN     NaN     NaN
...      ...     ...     ...
1054     NaN     NaN     NaN
1055     NaN     NaN     NaN
1058     NaN     NaN     NaN
1057     NaN     NaN     NaN
1056     NaN     NaN     NaN

[210 rows x 52 columns]
2020-08:
        회원카드번호       연월  등록명 개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
1254  17050026  2020-08   헬스  12     NaN     NaN     NaN     NaN     NaN
1255  19080019  2020-08   헬스  12     NaN     NaN     NaN     NaN     NaN
1259  17070074  2020-08   헬스   6     NaN     NaN     NaN     NaN     NaN
1257  19080014  2020-08   골프  12     NaN     NaN     NaN     NaN     NaN
1258  13120284  2020-08  NaN   0     NaN     NaN     NaN     NaN     NaN
...        ...      ...  ...  ..     ...     ...     ...     ...     ...
1222  19100038  2020-08  NaN   0     NaN     NaN     NaN     NaN     NaN
1219  19050022  2020-08  NaN   0     NaN     NaN     NaN     NaN     NaN
1224  19050004  2020-08   헬스   6     NaN     NaN     NaN     NaN     NaN
1225  16040037  2020-08   골프  12     NaN     NaN     NaN     NaN     NaN
1223  20070053  2020-08  NaN   0     NaN     NaN     NaN     NaN     NaN

     2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
1254     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1255     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1259     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1257     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1258     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
1222     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1219     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1224     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1225     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1223     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

     2023-10 2023-11 2023-12
1254     NaN     NaN     NaN
1255     NaN     NaN     NaN
1259     NaN     NaN     NaN
1257     NaN     NaN     NaN
1258     NaN     NaN     NaN
...      ...     ...     ...
1222     NaN     NaN     NaN
1219     NaN     NaN     NaN
1224     NaN     NaN     NaN
1225     NaN     NaN     NaN
1223     NaN     NaN     NaN

[92 rows x 52 columns]
2020-09:
        회원카드번호       연월  등록명  개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
1347  20060050  2020-09  NaN    0     NaN     NaN     NaN     NaN     NaN
1355  15050075  2020-09   헬스  -10     NaN     NaN     NaN     NaN     NaN
1354  13120130  2020-09  NaN    0     NaN     NaN     NaN     NaN     NaN
1353  15060067  2020-09   헬스   12     NaN     NaN     NaN     NaN     NaN
1352  20070028  2020-09  NaN    0     NaN     NaN     NaN     NaN     NaN
...        ...      ...  ...  ...     ...     ...     ...     ...     ...
1311  17030013  2020-09   헬스   12     NaN     NaN     NaN     NaN     NaN
1316  18090029  2020-09   헬스   12     NaN     NaN     NaN     NaN     NaN
1317  19100040  2020-09   헬스   12     NaN     NaN     NaN     NaN     NaN
1318  17010022  2020-09   골프    0     NaN     NaN     NaN     NaN     NaN
1315  19040035  2020-09  NaN    0     NaN     NaN     NaN     NaN     NaN

     2020-06  ... 2023-03 2023-04 2023-05 2023-06 2023-07 2023-08 2023-09  \
1347     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1355     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1354     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1353     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1352     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
1311     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1316     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1317     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1318     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1315     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN

     2023-10 2023-11 2023-12
1347     NaN     NaN     NaN
1355     NaN     NaN     NaN
1354     NaN     NaN     NaN
1353     NaN     NaN     NaN
1352     NaN     NaN     NaN
...      ...     ...     ...
1311     NaN     NaN     NaN
1316     NaN     NaN     NaN
1317     NaN     NaN     NaN
1318     NaN     NaN     NaN
1315     NaN     NaN     NaN

[95 rows x 52 columns]
2020-10:
        회원카드번호       연월  등록명  개월수 2020-01 2020-02 2020-03 2020-04 2020-05  \
1448  13110097  2020-10  NaN    0     NaN     NaN     NaN     NaN     NaN
1456  18020057  2020-10   골프  -12     NaN     NaN     NaN     NaN     NaN
1457  19050022  2020-10  NaN    0     NaN     NaN     NaN     NaN     NaN
1455  14030024  2020-10   헬스   12     NaN     NaN     NaN     NaN     NaN
1454  19090076  2020-10  NaN    0     NaN     NaN     NaN     NaN     NaN
...        ...      ...  ...  ...     ...     ...     ...     ...     ...
1411  19010081  2020-10  NaN    0     NaN     NaN     NaN     NaN     NaN
1410  19080055  2020-10   헬스   12     NaN     NaN     NaN     NaN     NaN
1409  13120248  2020-10  NaN    0     NaN     NaN     NaN     NaN     NaN

In [11]:
# # 결과 데이터프레임 df
# df = 결과_df

# # '연월' 열을 기준으로 오름차순 정렬
# df = df.sort_values(by='연월')

# # 결과를 저장할 디렉토리 생성
# 저장_디렉토리 = "월별_데이터"
# if not os.path.exists(저장_디렉토리):
#     os.makedirs(저장_디렉토리)

# # 각 연월별로 데이터를 엑셀 파일로 저장
# for 연월, 그룹 in df.groupby('연월'):
#     파일명 = os.path.join(저장_디렉토리, f"{연월}.xlsx")
#     그룹.to_excel(파일명, index=False)
#     print(f"{연월} 데이터를 {파일명}에 저장했습니다.")

2020-01 데이터를 월별_데이터\2020-01.xlsx에 저장했습니다.
2020-02 데이터를 월별_데이터\2020-02.xlsx에 저장했습니다.
2020-03 데이터를 월별_데이터\2020-03.xlsx에 저장했습니다.
2020-04 데이터를 월별_데이터\2020-04.xlsx에 저장했습니다.
2020-05 데이터를 월별_데이터\2020-05.xlsx에 저장했습니다.
2020-06 데이터를 월별_데이터\2020-06.xlsx에 저장했습니다.
2020-07 데이터를 월별_데이터\2020-07.xlsx에 저장했습니다.
2020-08 데이터를 월별_데이터\2020-08.xlsx에 저장했습니다.
2020-09 데이터를 월별_데이터\2020-09.xlsx에 저장했습니다.
2020-10 데이터를 월별_데이터\2020-10.xlsx에 저장했습니다.
2020-11 데이터를 월별_데이터\2020-11.xlsx에 저장했습니다.
2020-12 데이터를 월별_데이터\2020-12.xlsx에 저장했습니다.
2021-01 데이터를 월별_데이터\2021-01.xlsx에 저장했습니다.
2021-02 데이터를 월별_데이터\2021-02.xlsx에 저장했습니다.
2021-03 데이터를 월별_데이터\2021-03.xlsx에 저장했습니다.
2021-04 데이터를 월별_데이터\2021-04.xlsx에 저장했습니다.
2021-05 데이터를 월별_데이터\2021-05.xlsx에 저장했습니다.
2021-06 데이터를 월별_데이터\2021-06.xlsx에 저장했습니다.
2021-07 데이터를 월별_데이터\2021-07.xlsx에 저장했습니다.
2021-08 데이터를 월별_데이터\2021-08.xlsx에 저장했습니다.
2021-09 데이터를 월별_데이터\2021-09.xlsx에 저장했습니다.
2021-10 데이터를 월별_데이터\2021-10.xlsx에 저장했습니다.
2021-11 데이터를 월별_데이터\2021-11.xlsx에 저장했습니다.
2021-12 데이터를 월별_데이터\2021-12.xlsx에 저장했습니다.
2022-01 데이터를 월별_데이터\2022-01.xlsx에 저장했습니다.
2022-02 데이터를 월별_데이터\2022-02.xlsx에 저장했습니다.
2022-03 데이터를 월별_데이터\2022-03.xlsx에 저장했습니다.
2022-04 데이터를 월별_데이터\2022-04.xlsx에 저장했습니다.
2022-05 데이터를 월별_데이터\2022-05.xlsx에 저장했습니다.
2022-06 데이터를 월별_데이터\2022-06.xlsx에 저장했습니다.
2022-07 데이터를 월별_데이터\2022-07.xlsx에 저장했습니다.
2022-08 데이터를 월별_데이터\2022-08.xlsx에 저장했습니다.
2022-09 데이터를 월별_데이터\2022-09.xlsx에 저장했습니다.
2022-10 데이터를 월별_데이터\2022-10.xlsx에 저장했습니다.
2022-11 데이터를 월별_데이터\2022-11.xlsx에 저장했습니다.
2022-12 데이터를 월별_데이터\2022-12.xlsx에 저장했습니다.
2023-01 데이터를 월별_데이터\2023-01.xlsx에 저장했습니다.
2023-02 데이터를 월별_데이터\2023-02.xlsx에 저장했습니다.
2023-03 데이터를 월별_데이터\2023-03.xlsx에 저장했습니다.
2023-04 데이터를 월별_데이터\2023-04.xlsx에 저장했습니다.
2023-05 데이터를 월별_데이터\2023-05.xlsx에 저장했습니다.
2023-06 데이터를 월별_데이터\2023-06.xlsx에 저장했습니다.
2023-07 데이터를 월별_데이터\2023-07.xlsx에 저장했습니다.
2023-08 데이터를 월별_데이터\2023-08.xlsx에 저장했습니다.
2023-09 데이터를 월별_데이터\2023-09.xlsx에 저장했습니다.
2023-10 데이터를 월별_데이터\2023-10.xlsx에 저장했습니다.
2023-11 데이터를 월별_데이터\2023-11.xlsx에 저장했습니다.
2023-12 데이터를 월별_데이터\2023-12.xlsx에 저장했습니다.

In [13]:
df5 = read_excel("월별_데이터/2020-01.xlsx")
df5

,회원카드번호,연월,등록명,개월수,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,...,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
0,17030054,2020-01,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20010025,2020-01,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13110097,2020-01,헬스,12,15.0,19.0,2.0,0.0,15.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18050033,2020-01,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15070020,2020-01,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,19010007,2020-01,헬스,12,9.0,14.0,13.0,10.0,12.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,20010078,2020-01,헬스,12,1.0,14.0,14.0,5.0,12.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,19010076,2020-01,골프,12,4.0,14.0,6.0,12.0,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,18080017,2020-01,헬스,12,22.0,20.0,9.0,0.0,18.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,18010137,2020-01,헬스,12,8.0,5.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df6 = df5.dropna(subset=["등록명"])
df6

,회원카드번호,연월,등록명,개월수,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,...,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
2,13110097,2020-01,헬스,12,15.0,19.0,2.0,0.0,15.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,20010027,2020-01,헬스,10,4.0,2.0,1.0,6.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,18030043,2020-01,헬스,12,11.0,14.0,0.0,0.0,0.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,20010004,2020-01,골프,10,5.0,3.0,8.0,1.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,20010024,2020-01,헬스,10,14.0,15.0,0.0,0.0,2.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,19010007,2020-01,헬스,12,9.0,14.0,13.0,10.0,12.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,20010078,2020-01,헬스,12,1.0,14.0,14.0,5.0,12.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,19010076,2020-01,골프,12,4.0,14.0,6.0,12.0,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,18080017,2020-01,헬스,12,22.0,20.0,9.0,0.0,18.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,18010137,2020-01,헬스,12,8.0,5.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df7 = df6.dropna(axis=1, how='all')
df7

,회원카드번호,연월,등록명,개월수,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02
2,13110097,2020-01,헬스,12,15.0,19.0,2.0,0.0,15.0,18.0,18.0,10.0,0.0,2.0,10.0,0.0,NaN,NaN
5,20010027,2020-01,헬스,10,4.0,2.0,1.0,6.0,3.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6,18030043,2020-01,헬스,12,11.0,14.0,0.0,0.0,0.0,19.0,20.0,6.0,0.0,0.0,4.0,0.0,NaN,NaN
8,20010004,2020-01,골프,10,5.0,3.0,8.0,1.0,8.0,8.0,11.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN
11,20010024,2020-01,헬스,10,14.0,15.0,0.0,0.0,2.0,8.0,10.0,8.0,5.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,19010007,2020-01,헬스,12,9.0,14.0,13.0,10.0,12.0,13.0,15.0,16.0,3.0,0.0,0.0,0.0,NaN,NaN
202,20010078,2020-01,헬스,12,1.0,14.0,14.0,5.0,12.0,10.0,10.0,6.0,10.0,14.0,7.0,0.0,NaN,NaN
203,19010076,2020-01,골프,12,4.0,14.0,6.0,12.0,9.0,8.0,5.0,7.0,0.0,8.0,3.0,0.0,NaN,NaN
204,18080017,2020-01,헬스,12,22.0,20.0,9.0,0.0,18.0,19.0,24.0,20.0,9.0,13.0,9.0,0.0,NaN,NaN
205,18010137,2020-01,헬스,12,8.0,5.0,0.0,1.0,0.0,0.0,6.0,3.0,1.0,6.0,2.0,0.0,NaN,NaN

In [28]:
df7['개월수'].unique()

array([12, 10,  6, 14,  5,  3,  0,  7], dtype=int64)

In [38]:
df8 = df7.drop(df7[df7['개월수'] == 0].index, axis=0)
df8

,회원카드번호,연월,등록명,개월수,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02
2,13110097,2020-01,헬스,12,15.0,19.0,2.0,0.0,15.0,18.0,18.0,10.0,0.0,2.0,10.0,0.0,NaN,NaN
5,20010027,2020-01,헬스,10,4.0,2.0,1.0,6.0,3.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6,18030043,2020-01,헬스,12,11.0,14.0,0.0,0.0,0.0,19.0,20.0,6.0,0.0,0.0,4.0,0.0,NaN,NaN
8,20010004,2020-01,골프,10,5.0,3.0,8.0,1.0,8.0,8.0,11.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN
11,20010024,2020-01,헬스,10,14.0,15.0,0.0,0.0,2.0,8.0,10.0,8.0,5.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,19010007,2020-01,헬스,12,9.0,14.0,13.0,10.0,12.0,13.0,15.0,16.0,3.0,0.0,0.0,0.0,NaN,NaN
202,20010078,2020-01,헬스,12,1.0,14.0,14.0,5.0,12.0,10.0,10.0,6.0,10.0,14.0,7.0,0.0,NaN,NaN
203,19010076,2020-01,골프,12,4.0,14.0,6.0,12.0,9.0,8.0,5.0,7.0,0.0,8.0,3.0,0.0,NaN,NaN
204,18080017,2020-01,헬스,12,22.0,20.0,9.0,0.0,18.0,19.0,24.0,20.0,9.0,13.0,9.0,0.0,NaN,NaN
205,18010137,2020-01,헬스,12,8.0,5.0,0.0,1.0,0.0,0.0,6.0,3.0,1.0,6.0,2.0,0.0,NaN,NaN

In [40]:
# '개월수' 열의 고유한 값들을 가져와서 정렬
unique_months = sorted(df8['개월수'].unique())

# 각 '개월수'에 해당하는 데이터를 저장할 딕셔너리 생성
month_groups = {}

# '개월수' 열의 고유한 값들에 따라 데이터를 그룹화하여 딕셔너리에 저장
for month in unique_months:
    month_groups[month] = df8[df8['개월수'] == month]

# 각 '개월수' 그룹에 해당하는 데이터 출력
for month, group_data in month_groups.items():
    print(f"개월수 {month}에 해당하는 데이터:")
    print(group_data)
    print()

개월수 3에 해당하는 데이터:
       회원카드번호       연월 등록명  개월수  2020-01  2020-02  2020-03  2020-04  2020-05  \
73   19040035  2020-01  헬스    3      4.0     12.0      5.0      NaN      NaN
179  17050063  2020-01  골프    3     10.0      9.0      6.0      NaN      NaN

     2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  2021-01  \
73       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
179      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

     2021-02
73       NaN
179      NaN

개월수 5에 해당하는 데이터:
      회원카드번호       연월 등록명  개월수  2020-01  2020-02  2020-03  2020-04  2020-05  \
45  14110071  2020-01  헬스    5     21.0     21.0      7.0      0.0      0.0

    2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  2021-01  \
45      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

    2021-02
45      NaN

개월수 6에 해당하는 데이터:
       회원카드번호       연월 등록명  개월수  2020-01  2020-02  2020-03  2020-04  2020-05  \
17   14110080  2020-01  헬스    6      9.0      4.0      7.0     11.0     10.0
18   13110118  2020-01  헬스    6      0.0      5.0      2.0      2.0      5.0
20   18010064  2020-01  헬스    6     10.0     18.0     16.0     17.0     19.0
21   17070093  2020-01  헬스    6     16.0     15.0      6.0     17.0     15.0
24   17070098  2020-01  헬스    6      1.0     15.0     12.0      3.0      1.0
25   19050004  2020-01  헬스    6     14.0     13.0      5.0      1.0      5.0
35   18020005  2020-01  헬스    6      6.0      8.0      8.0      6.0     11.0
42   17070074  2020-01  헬스    6      2.0     12.0      0.0      5.0      8.0
51   17070089  2020-01  헬스    6     11.0     12.0     13.0      7.0      4.0
54   18010066  2020-01  헬스    6     12.0     13.0      9.0      5.0     12.0
75   17070066  2020-01  헬스    6     19.0     17.0     15.0     12.0     15.0
83   17070077  2020-01  헬스    6      9.0     13.0      8.0      9.0      8.0
84   18090066  2020-01  헬스    6      8.0     15.0     14.0      7.0     15.0
89   17070050  2020-01  헬스    6     14.0     18.0     15.0      6.0     17.0
100  17070122  2020-01  헬스    6     19.0     18.0     14.0     15.0     17.0
104  19070073  2020-01  헬스    6      9.0      8.0      9.0      7.0     12.0
109  17070042  2020-01  헬스    6     11.0      5.0      0.0      6.0     13.0
145  18070055  2020-01  헬스    6     10.0      8.0      7.0      0.0      4.0
173  14100015  2020-01  헬스    6      6.0      2.0      0.0      6.0      5.0
192  19120026  2020-01  헬스    6      3.0     10.0      9.0      1.0      5.0

     2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  2021-01  \
17       4.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
18      12.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
20      19.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
21      16.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
24       6.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
25      12.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
35       8.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
42       8.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
51       2.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
54      14.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
75      18.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
83       7.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
84      14.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
89      20.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
100     20.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
104     12.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
109     18.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
145      4.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
173      8.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
192     10.0      NaN      NaN      NaN      NaN      NaN      NaN      NaN

     2021-02
17       NaN
18       NaN
20       NaN
21       NaN
24       NaN
25       NaN
35       NaN
42       NaN
51       NaN
54       NaN
75       NaN
83       NaN
84       NaN
89       NaN
100      NaN
104      NaN
109      NaN
145      NaN
173      NaN
192      NaN

개월수 7에 해당하는 데이터:
       회원카드번호       연월   등록명  개월수  2020-01  2020-02  2020-03  2020-04  \
200  15110040  2020-01  헬스헬스    7      8.0     10.0      9.0      9.0

     2020-05  2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  \
200      7.0      0.0      7.0      NaN      NaN      NaN      NaN      NaN

     2021-01  2021-02
200      NaN      NaN

개월수 10에 해당하는 데이터:
       회원카드번호       연월 등록명  개월수  2020-01  2020-02  2020-03  2020-04  2020-05  \
5    20010027  2020-01  헬스   10      4.0      2.0      1.0      6.0      3.0
8    20010004  2020-01  골프   10      5.0      3.0      8.0      1.0      8.0
11   20010024  2020-01  헬스   10     14.0     15.0      0.0      0.0      2.0
12   19080042  2020-01  골프   10      2.0      7.0      8.0     10.0     13.0
40   20010048  2020-01  골프   10     11.0     18.0     11.0      7.0     15.0
46   20010019  2020-01  헬스   10     17.0     18.0     15.0     15.0     16.0
52   17070086  2020-01  헬스   10      4.0      0.0      0.0      0.0      0.0
55   20010029  2020-01  헬스   10     11.0     17.0      9.0     12.0     16.0
81   15050075  2020-01  헬스   10     10.0     16.0     10.0      3.0      7.0
86   20010013  2020-01  헬스   10     10.0      4.0      0.0      6.0      2.0
88   20010009  2020-01  헬스   10     14.0     14.0      0.0     12.0      3.0
94   20010008  2020-01  헬스   10     19.0     21.0      0.0     16.0      5.0
101  19050063  2020-01  헬스   10     15.0     15.0      0.0      7.0     13.0
116  20010042  2020-01  헬스   10      4.0      2.0      0.0      0.0     10.0
143  20010063  2020-01  헬스   10      2.0     16.0      0.0      5.0     12.0
165  20010041  2020-01  헬스   10      0.0      2.0      0.0      0.0      7.0
175  20010067  2020-01  헬스   10      2.0      1.0      0.0      2.0      0.0
181  20010081  2020-01  헬스   10      0.0     12.0      6.0      8.0      9.0
187  19030005  2020-01  헬스   10      9.0     11.0     13.0      7.0     11.0
188  14060070  2020-01  헬스   10     13.0      4.0      9.0     12.0     18.0

     2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  2021-01  \
5        2.0      1.0      0.0      0.0      0.0      NaN      NaN      NaN
8        8.0     11.0      4.0      0.0      0.0      NaN      NaN      NaN
11       8.0     10.0      8.0      5.0      3.0      NaN      NaN      NaN
12      20.0     22.0     12.0     10.0     18.0      NaN      NaN      NaN
40      20.0     21.0     15.0      7.0     14.0      NaN      NaN      NaN
46      17.0     16.0      7.0      9.0     15.0      NaN      NaN      NaN
52       0.0      6.0      4.0      2.0      1.0      NaN      NaN      NaN
55      16.0     18.0     16.0      7.0     17.0      NaN      NaN      NaN
81       5.0      9.0      4.0      0.0      0.0      NaN      NaN      NaN
86       6.0      2.0      7.0      2.0      5.0      NaN      NaN      NaN
88       4.0     11.0      8.0      1.0      4.0      NaN      NaN      NaN
94       0.0     18.0     11.0      2.0     11.0      NaN      NaN      NaN
101     14.0     17.0      6.0     11.0     11.0      NaN      NaN      NaN
116      6.0     11.0      8.0      4.0      2.0      NaN      NaN      NaN
143      9.0     10.0      7.0      3.0      9.0      NaN      NaN      NaN
165      2.0      5.0      2.0      0.0      1.0      NaN      NaN      NaN
175      0.0      4.0      3.0      0.0      0.0      NaN      NaN      NaN
181      7.0      7.0      3.0      0.0      7.0      NaN      NaN      NaN
187     15.0     17.0     11.0      7.0     12.0      NaN      NaN      NaN
188     18.0     16.0      5.0      5.0      5.0      NaN      NaN      NaN

     2021-02
5        NaN
8        NaN
11       NaN
12       NaN
40       NaN
46       NaN
52       NaN
55       NaN
81       NaN
86       NaN
88       NaN
94       NaN
101      NaN
116      NaN
143      NaN
165      NaN
175      NaN
181      NaN
187      NaN
188      NaN

개월수 12에 해당하는 데이터:
       회원카드번호       연월 등록명  개월수  2020-01  2020-02  2020-03  2020-04  2020-05  \
2    13110097  2020-01  헬스   12     15.0     19.0      2.0      0.0     15.0
6    18030043  2020-01  헬스   12     11.0     14.0      0.0      0.0      0.0
14   20010028  2020-01  골프   12      0.0      0.0      0.0      0.0      0.0
19   20010016  2020-01  헬스   12     17.0     12.0     12.0      7.0     15.0
22   16110063  2020-01  골프   12      4.0      6.0      0.0      0.0      2.0
..        ...      ...  ..  ...      ...      ...      ...      ...      ...
201  19010007  2020-01  헬스   12      9.0     14.0     13.0     10.0     12.0
202  20010078  2020-01  헬스   12      1.0     14.0     14.0      5.0     12.0
203  19010076  2020-01  골프   12      4.0     14.0      6.0     12.0      9.0
204  18080017  2020-01  헬스   12     22.0     20.0      9.0      0.0     18.0
205  18010137  2020-01  헬스   12      8.0      5.0      0.0      1.0      0.0

     2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  2021-01  \
2       18.0     18.0     10.0      0.0      2.0     10.0      0.0      NaN
6       19.0     20.0      6.0      0.0      0.0      4.0      0.0      NaN
14       0.0      7.0      6.0      0.0      1.0      0.0      0.0      NaN
19      15.0     10.0     14.0      3.0     11.0      6.0      0.0      NaN
22       7.0     13.0     14.0      0.0      6.0      5.0      1.0      NaN
..       ...      ...      ...      ...      ...      ...      ...      ...
201     13.0     15.0     16.0      3.0      0.0      0.0      0.0      NaN
202     10.0     10.0      6.0     10.0     14.0      7.0      0.0      NaN
203      8.0      5.0      7.0      0.0      8.0      3.0      0.0      NaN
204     19.0     24.0     20.0      9.0     13.0      9.0      0.0      NaN
205      0.0      6.0      3.0      1.0      6.0      2.0      0.0      NaN

     2021-02
2        NaN
6        NaN
14       NaN
19       NaN
22       NaN
..       ...
201      NaN
202      NaN
203      NaN
204      NaN
205      NaN

[86 rows x 18 columns]

개월수 14에 해당하는 데이터:
      회원카드번호       연월 등록명  개월수  2020-01  2020-02  2020-03  2020-04  2020-05  \
28  19020046  2020-01  헬스   14      7.0      2.0      3.0     10.0      8.0
80  14040103  2020-01  헬스   14     20.0     12.0      7.0      6.0     23.0

    2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  2021-01  \
28     10.0     11.0      7.0      6.0     10.0     10.0      4.0      4.0
80     26.0     20.0     12.0      9.0     19.0     15.0      4.0      9.0

    2021-02
28      6.0
80     15.0

In [44]:

# '개월수' 열의 고유한 값들을 가져와서 정렬
unique_months = sorted(df8['개월수'].unique())

# 각 '개월수'에 해당하는 데이터를 저장할 딕셔너리 생성
month_groups = {}

# '개월수' 열의 고유한 값들에 따라 데이터를 그룹화하여 딕셔너리에 저장
for month in unique_months:
    month_groups[month] = df8[df8['개월수'] == month]


# 각 '개월수' 그룹에 해당하는 데이터를 엑셀 파일로 저장
for month, group_data in month_groups.items():
    # 엑셀 파일명 설정 (파일명은 '개월수_월.xlsx' 형식)
    파일명 = f"{month}개월등록.xlsx"
    # 데이터프레임을 엑셀 파일로 저장
    group_data.to_excel(파일명, index=False)
    print(f"개월수 {month}에 해당하는 데이터를 {파일명}에 저장했습니다.")

개월수 3에 해당하는 데이터를 3개월등록.xlsx에 저장했습니다.
개월수 5에 해당하는 데이터를 5개월등록.xlsx에 저장했습니다.
개월수 6에 해당하는 데이터를 6개월등록.xlsx에 저장했습니다.
개월수 7에 해당하는 데이터를 7개월등록.xlsx에 저장했습니다.
개월수 10에 해당하는 데이터를 10개월등록.xlsx에 저장했습니다.
개월수 12에 해당하는 데이터를 12개월등록.xlsx에 저장했습니다.
개월수 14에 해당하는 데이터를 14개월등록.xlsx에 저장했습니다.

In [94]:
# 파일 경로
월별_데이터_폴더 = Path("월별_데이터")

# 고유한 '개월수' 값을 기준으로 데이터를 처리하는 함수
def process_data(df):
    df = df.dropna(subset=["등록명"]).dropna(axis=1, how='all')
    df = df[df['개월수'] > 0]  # 음수 값을 가진 개월수는 제외합니다.
    return df

# 각 '개월수'에 해당하는 데이터를 저장하는 함수
def save_data_by_month(df):
    unique_months = sorted(df['개월수'].unique())
    month_groups = {}
    
    for month in unique_months:
        month_groups[month] = df[df['개월수'] == month]
    
    for month, group_data in month_groups.items():
        파일명 = 월별_데이터_폴더 / f"{month}개월등록.xlsx"
        group_data.to_excel(파일명, index=False)
        print(f"개월수 {month}에 해당하는 데이터를 {파일명}에 저장했습니다.")

# 월별 데이터 파일을 읽어 처리
for 파일 in 월별_데이터_폴더.glob("2023-12.xlsx"):
    df = pd.read_excel(파일)
    df = process_data(df)
    save_data_by_month(df)

개월수 1에 해당하는 데이터를 월별_데이터\1개월등록.xlsx에 저장했습니다.
개월수 6에 해당하는 데이터를 월별_데이터\6개월등록.xlsx에 저장했습니다.
개월수 10에 해당하는 데이터를 월별_데이터\10개월등록.xlsx에 저장했습니다.
개월수 12에 해당하는 데이터를 월별_데이터\12개월등록.xlsx에 저장했습니다.
개월수 24에 해당하는 데이터를 월별_데이터\24개월등록.xlsx에 저장했습니다.

In [95]:
# 빈 데이터프레임을 생성합니다.
result = pd.DataFrame()

# 월별 데이터 디렉토리 경로
data_dir = "월별_데이터"

# 월별 데이터 디렉토리 안의 모든 파일에 대해 반복합니다.
for file_name in os.listdir(data_dir):
    if re.match(r"\d+개월등록.xlsx", file_name):  # "n개월등록.xlsx" 형식에 맞는 파일만 선택합니다.
        file_path = os.path.join(data_dir, file_name)
        
        # 파일을 읽어옵니다.
        df = pd.read_excel(file_path)
        
        # 데이터 전처리 및 계산을 수행합니다.
        df = df.dropna(axis=1)
        df_transposed = df.transpose()
        
        print("열 이름 확인:", df_transposed.columns)  # 열 이름을 출력하여 확인합니다.
        
        trend_values = []
        for column_index, column in enumerate(df_transposed.columns[:]):
            x_values = np.arange(1, len(df_transposed[column]) + 1)
            y_values = [value for value in df_transposed[column].values if isinstance(value, (int, float)) and len(str(value)) < 3]
            slope, _, _, _, _ = linregress(x_values[:len(y_values)], y_values)
            trend_values.append(slope)
        
        df_transposed.loc['추세값'] = trend_values
        df_transposed = df_transposed.transpose()
        
        # 필요한 열만 선택합니다.
        df_selected = df_transposed[['회원카드번호', '연월', '추세값']]
        
        # 결과 데이터프레임에 추가합니다.
        result = pd.concat([result, df_selected])

result.to_excel('2023-12-Plus.xlsx',index=False)

열 이름 확인: RangeIndex(start=0, stop=7, step=1)
열 이름 확인: RangeIndex(start=0, stop=24, step=1)
열 이름 확인: RangeIndex(start=0, stop=2, step=1)
열 이름 확인: RangeIndex(start=0, stop=1, step=1)
열 이름 확인: RangeIndex(start=0, stop=1, step=1)

In [99]:
# 월별 데이터 폴더 경로
월별_데이터_폴더 = Path("월별_데이터")

# 데이터프레임을 저장할 빈 리스트 생성
dfs = []

# 2020년부터 2023년까지의 "Plus"로 끝나는 파일을 읽어서 리스트에 추가
for year in range(2020, 2024):
    for month in range(1, 13):
        파일명 = f"{year}-{month:02d}-Plus.xlsx"
        if 월별_데이터_폴더 / 파일명 in 월별_데이터_폴더.glob("*-Plus.xlsx"):
            df = pd.read_excel(월별_데이터_폴더 / 파일명)
            dfs.append(df)

# 데이터프레임 리스트를 하나의 데이터프레임으로 병합
merged_df = pd.concat(dfs, ignore_index=True)

# 데이터프레임을 하나의 엑셀 파일로 저장
merged_df.to_excel("2020-2023-Plus.xlsx", index=False)